:root {
    --cor-background: #24252A;
    --cor-branco-principal: #FFFFFF;
    --cor-vermelho-principal: #FF0000;
    --cor-preto-principal: #000000;
    --cor-cinza-principal: #54555B;
    --font-principal: 'poppins';
}

body {
    background-color: var(--cor-background);
    color: var(--cor-branco-principal);
    font-family: var(--font-principal);
    height: 100vh;
}

#header {
    margin: 3em;
}

#menu, #header, .lista__menu {
    display: flex;
    justify-content: space-between;
}

.lista__menu {
    list-style-type: none;
    align-items: center;
    gap: 2em;
}

.link__menu {
    text-decoration: none;
    color: var(--cor-branco-principal);
    font-size: 20px;
}

.input__padrao {
    background-color: var(--cor-cinza-principal);
    color: var(--cor-branco-principal);
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 1em;
}

::placeholder {
    font-family: var(--font-principal);
}

#main {
    margin: 0 3em 3em;
}

.titulo {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.principal {
    display: flex;
    font-size: 125px;
    align-items: center;
}

.principal h2 {
    font-size: 52px;
    color: var(--cor-vermelho-principal);
    margin-left: 0.5em;
}

.secundario {
    display: inline-block;
    font-size: 32px;
    border-bottom: 3px solid white;
}

#lista-produtos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}

.produto_item {
    border-radius: 10px 0px 20px 20px;
    background: var(--cor-cinza-principal);
    cursor: pointer;
}

.produto_item img {
    width: 100%;
    height: 137px;
    object-fit: cover;
}

.produto_item_text {
    padding: 20px;
    text-align: center;
}

#footer {
    background-color: var(--cor-preto-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 90px;
    font-size: 1.5em;
}

@media screen and (max-width: 400px) {
    #header, #main {
        margin: 1em;
    }

    .lista__menu{
        display: none;
    }

    .principal{
        font-size: 50px;
    }

    .principal h2{
        font-size: 25px;
    }
    
    #lista-produtos{
        grid-template-columns: 1fr 1fr;
        max-width: 100%;
    }

    #footer {
        font-size: 0.8em;
        padding: 1em
    }
}