:root {
    --cor-background: #24252A;
    --cor-branco-principal: #FFFFFF;
    --cor-vermelho-principal: #FF0000;
    --cor-preto-principal: #000000;
    --cor-cinza-principal: #54555B;
    --font-principal: 'poppins';
}

body {
    background-color: var(--cor-background);
    color: var(--cor-branco-principal);
    font-family: var(--font-principal);
    margin: 3em;
}

#container {
    margin-bottom: 5em;
}

.container__menu {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 2em;
}

.lista__menu {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.link__menu {
    text-decoration: none;
    color: var(--cor-branco-principal);
    font-size: 20px;
    margin-left: 2em;
}

.campo__busca {
    align-items: right;
    display: flex;
    justify-content: right;
}

.input__padrao {
    background-color: var(--cor-cinza-principal);
    color: var(--cor-branco-principal);
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 1em;
}

::placeholder {
    font-family: var(--font-principal);
}

.titulo__principal {
    display: flex;
    font-size: 125px;
    align-items: center;
    font-weight: bold;
}

.titulo__principal h2 {
    font-size: 52px;
    color: var(--cor-vermelho-principal);
    margin-left: 0.5em;
}

.titulo__secundario {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 1em;
}

.lista__produtos {
    display: flex;
}

.produto__card {
    background-color: var(--cor-cinza-principal);
    border-radius: 10px;
}

.produto__card img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.produto__card p{
    padding: 1em;
}